In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jakar,BT,2022-06-07 20:42:08,27.5492,90.7525,58.06,99,100,1.77
1,1,Necochea,AR,2022-06-07 20:42:08,-38.5473,-58.7368,57.11,56,88,12.24
2,2,Busselton,AU,2022-06-07 20:42:09,-33.6500,115.3333,56.86,54,100,18.48
3,3,Wilmington,US,2022-06-07 20:41:07,34.2257,-77.9447,85.91,68,40,11.50
4,4,Seymchan,RU,2022-06-07 20:42:09,62.8833,152.4333,49.96,42,39,9.48

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# OR:
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# With modifications to the gmaps.heat_layer():
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
figs = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                    dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
figs = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                    dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Wilmington,US,2022-06-07 20:41:07,34.2257,-77.9447,85.91,68,40,11.50
5,5,Avarua,CK,2022-06-07 20:42:10,-21.2078,-159.7750,78.85,73,40,10.36
6,6,Henties Bay,NaN,2022-06-07 20:42:12,-22.1160,14.2845,70.86,38,0,7.85
7,7,Corralillo,CU,2022-06-07 20:42:12,22.9819,-80.5856,77.90,87,100,9.33
8,8,Cape Town,ZA,2022-06-07 20:42:13,-33.9258,18.4232,67.37,61,0,1.14
13,13,El Refugio,MX,2022-06-07 20:42:15,20.6667,-103.7333,93.96,21,5,3.80
16,16,Los Llanos De Aridane,ES,2022-06-07 20:42:16,28.6585,-17.9182,67.12,87,0,17.27
17,17,Umm Lajj,SA,2022-06-07 20:42:17,25.0213,37.2685,85.68,46,2,9.48
20,20,Salalah,OM,2022-06-07 20:42:18,17.0151,54.0924,84.29,79,75,9.22
21,21,Mayo,US,2022-06-07 20:42:18,38.8876,-76.5119,78.19,81,75,16.11

In [12]:
# Determine if there are any null values:
# preferred_cities_df.isnull().sum()
# OR
# preferred_cities_df.notnull().sum()
# OR
preferred_cities_df.count()

City_ID       305
City          305
Country       302
Date          305
Lat           305
Lng           305
Max Temp      305
Humidity      305
Cloudiness    305
Wind Speed    305
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
3              Wilmington      US     85.91  34.2257  -77.9447
5                  Avarua      CK     78.85 -21.2078 -159.7750
6             Henties Bay     NaN     70.86 -22.1160   14.2845
7              Corralillo      CU     77.90  22.9819  -80.5856
8               Cape Town      ZA     67.37 -33.9258   18.4232
13             El Refugio      MX     93.96  20.6667 -103.7333
16  Los Llanos De Aridane      ES     67.12  28.6585  -17.9182
17               Umm Lajj      SA     85.68  25.0213   37.2685
20                Salalah      OM     84.29  17.0151   54.0924
21                   Mayo      US     78.19  38.8876  -76.5119

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [16]:
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
3              Wilmington      US     85.91  34.2257  -77.9447
5                  Avarua      CK     78.85 -21.2078 -159.7750
6             Henties Bay     NaN     70.86 -22.1160   14.2845
7              Corralillo      CU     77.90  22.9819  -80.5856
8               Cape Town      ZA     67.37 -33.9258   18.4232
13             El Refugio      MX     93.96  20.6667 -103.7333
16  Los Llanos De Aridane      ES     67.12  28.6585  -17.9182
17               Umm Lajj      SA     85.68  25.0213   37.2685
20                Salalah      OM     84.29  17.0151   54.0924
21                   Mayo      US     78.19  38.8876  -76.5119

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))